<div class="container is-widescreen mt-5">
  <app-account [activeAccounts]="activeAccounts"></app-account>

  <div class="dashboard-filter hidden" #dashboardFilter id="dashboard-filter">
    <div class="container is-widescreen my-5">
      <button class="button is-pulled-right" (click)="closeFilter()">
        <span class="icon is-small">
          <i class="fas fa-times"></i>
        </span>
      </button>
      <table class="table is-narrow">
        <tr>
          <th class="has-text-right">selected Accounts:</th>
          <td>
            <div class="field is-grouped is-grouped-multiline">
              <div class="control" *ngFor="let account of accounts">
                <div class="tags has-addons account-select-tag" (click)="toggleAccount(account)">
                  <span class="tag">{{account.name}}</span>
                  <span class="tag">
                    <span class="icon is-small">
                      <i class="fas fa-check" *ngIf="activeAccounts.includes(account)"></i>
                      <i class="fas fa-ban" *ngIf="!activeAccounts.includes(account)"></i>
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th class="has-text-right">selected Periods:</th>
          <td>
            <div class="field is-grouped is-grouped-multiline">
              <ng-container *ngIf="selectedTimeframe === 'months'">
                <div class="control" *ngFor="let group of groupedMonths">
                  <div class="tags has-addons time-select-tag">
                    <span class="tag"><strong>{{group.at(0).split('.').at(-1)}}</strong></span>
                    <span
                      *ngFor="let month of group"
                      class="tag {{selectedTime.includes(month) ? 'selected' : 'inactive'}}"
                      (click)="toggleMonth(month)"
                    >
                      {{month.split('.').at(0)}}
                    </span>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="selectedTimeframe === 'years'">
                <div class="control" *ngFor="let group of groupedMonths">
                  <div class="tags has-addons time-select-tag" (click)="toggleYear(group.at(0).split('.').at(-1))">
                    <span class="tag"><strong>{{group.at(0).split('.').at(-1)}}</strong></span>
                    <span class="tag">
                      <span class="icon is-small">
                        <i class="fas fa-check" *ngIf="selectedTime.includes(group.at(0).split('.').at(-1))"></i>
                        <i class="fas fa-ban" *ngIf="!selectedTime.includes(group.at(0).split('.').at(-1))"></i>
                      </span>
                    </span>
                  </div>
                </div>
              </ng-container>
            </div>
          </td>
        </tr>
        <tr>
          <th class="has-text-right">select Timeframe:</th>
          <td>
            <div class="field is-grouped is-grouped-multiline">
              <div class="tags has-addons timeframe-select-tag" (click)="toggleTimeframe()">
                <span class="tag {{selectedTimeframe === 'years' ? 'selected' : ''}}">years</span>
                <span class="tag {{selectedTimeframe === 'months' ? 'selected' : ''}}">months</span>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <app-graph [accounts]="activeAccounts"></app-graph>
  <app-transaction-list [accounts]="activeAccounts" [selectedTimes]="selectedTime"></app-transaction-list>

</div>
