<div class="container is-widescreen mt-5">

  <app-account></app-account>

  <!-- graphs -->
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Graphs
      </p>
    </header>
    <div class="card-content">
      <!-- just spacers -->
      <div class="mt-6"></div>
      <br>
      <div class="mt-6"></div>
      <br>
      <div class="mt-6"></div>
      <br>
      <div class="mt-6"></div>
      <br>
      <div class="mt-6"></div>
    </div>
  </div>

  <!-- transactions -->
  <div class="card mt-5">
    <header class="card-header">
      <p class="card-header-title">
        Transactions
      </p>
    </header>
    <div class="card-content">
      <table class="table is-fullwidth">
        <thead></thead>
        <tbody>
          <tr><td><br></td></tr>
          <tr><td><br></td></tr>
          <tr><td><br></td></tr>
          <tr><td><br></td></tr>
          <tr><td><br></td></tr>
          <tr><td><br></td></tr>
          <tr><td><br></td></tr>
          <tr><td><br></td></tr>
          <tr><td><br></td></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
