<div class="is-flex is-justify-content-space-between">
  <h4 class="title is-4">
    Categories:
  </h4>
  <a class="button" (click)="createCategoryGroup()">+ new</a>
</div>
<div class="card">
  <div class="card-content">
    <div class="box" *ngFor="let categoryGroup of categoryGroups" [ngStyle]="{borderColor: categoryGroup.color}">
      <p class="is-flex is-justify-content-space-between">
        <strong class="pb-3">{{categoryGroup.name}}</strong>
        <span>
          <a class="tag mr-2" (click)="editCategoryGroup(categoryGroup)">edit</a>
          <a class="tag" (click)="addCategory(categoryGroup)">+</a>
        </span>
      </p>
      <div class="field is-grouped is-grouped-multiline">
        <div class="control" *ngFor="let category of categoryGroup.categories">
          <div class="tags has-addons">
            <span class="tag">{{category.name}}</span>
            <a class="tag is-delete" (click)="deleteCategory(category, categoryGroup)"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-category-form [categoryGroup]="categoryGroupForForm" [category]="categoryForForm" [selector]="selector"></app-category-form>
