<div class="card mt-5">
  <header class="card-header">
    <p class="card-header-title">
      Transactions
    </p>
  </header>
  <div class="card-content">
    <ng-container *ngFor="let month of activeMonths">
      <h3 class="title is-3 has-text-centered">{{month}}</h3>
      <table class="table is-fullwidth">
        <tbody>
          <ng-container *ngFor="let transaction of allTransactions">
            <tr *ngIf="transaction.date.includes(month)">
              <td>{{transaction.accountShortName}}</td>
              <td>{{transaction.date}}</td>
              <td>{{transaction.description}}</td>
              <td>{{categoryNameFor(transaction)}}</td>
              <td>{{transaction.amount}}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </ng-container>
  </div>
</div>
