<section class="section content home">
  <h1 class="title is-1 has-text-centered mt-6">Welcome to your Financeapplication !</h1>
  <p class="has-text-centered mt-6 mb-6 ml-1 mr-1">Hello and welcome back to your personal and individualised Finance Check, on the Dashboard you have all your <strong>Accounts and Finances</strong> provided</p>

  <div class="columns is-flex is-flex-direction-column is-align-content-center mt-5">
    <div class="column has-text-centered mt-5">
      <button class="button has-sizes" routerLink="/dashboard">
        Check your Dashboard
      </button>
    </div>
    <div class="column has-text-centered">
      <button class="button has-sizes" routerLink="/configuration">
        Go to Configuration
      </button>
    </div>
    <div class="column has-text-centered">
      <button class="button no-decoration has-sizes" routerLink="/manual">
        Manual
      </button>
    </div>
  </div>
</section>
