$c0: #fff4e3;
$c1: #ffe4ba;
$c2: #ecb4aa;
$c3: #a870ab;
$c4: #413e9f;
$c5: #041440;

.color-theme {
  // general
  background-color: $c1;
  color: $c5;
  small {
    color: $c4;
  }
  a{
    color: $c4;
  }
  p{

  }
  .button {
    background-color: $c0;
    border-color: transparent;

    &.is-static {
      background-color: $c1;
    }
  }
  .is-success{

  }
  .theme-modifer{

  }
  .button.is-small.is-rounded{
    border: 1px $c3 solid;
  }

  .button.is-success:disabled{

  }
  .button:hover {
    background-color: $c3;
    color: $c1;
  }
  .title {
    color: $c5;
  }
  .card {
    background-color: $c0;
    .box {
      background-color: $c0;
      .theme-modifier:hover{
        background-color: $c3;
      }
    }
    .is-transaction:hover{
      background-color: $c2;
    }
  }

  .card-footer-item:hover{
    background-color: $c3;
  }

  .modal {
    .modal-card-head {
      background-color: $c1;
    }
    .modal-card-body {
      background-color: $c0;
      .control-modifier{
        margin-left: 3px;
      }
      .color-modifier{
        background-color: $c1;
        outline: none;
        border: none;
        box-shadow: none;
      }
      .color-modifier:hover{
        background-color: $c3;
      }
    }
    .modal-card-foot {
      background-color: $c1;
    }
    .set-border{
      border: 1px $c3 solid;
    }
  }

  .tag:not(body) {
    background-color: $c1;
    text-decoration: none;
    &:after{
      color: $c5;
    }
    &:before {
      color: $c5;
    }

  }
  .theme-modifier:hover{

  }
  .card-footer-item{

  }
  .card-footer-item:hover{

  }
  .footer{
    background-color: $c1;
  }
  // nav
  .navbar {
    background-color: $c2;
    a, div, h1{
      background-color: $c3;
      color: $c1;
    }
    &.navbar-burger.no-decoration{
      border: none;
      background-color: $c2;
    }
    .navbar-dropdown{
      border-color: $c3;
    }
    .navbar-item.has-dropdown:hover {
      background-color: $c2;
      .navbar-link {
        background-color: $c2;
      }
    }
    a.navbar-item:hover {
      background-color: $c2;
      color: $c4;
    }
  }
  .dashboard-filter {
    background-color: $c2;
  }
}
