$c0: #ffffff;
$c1: #ffe4ba;
$c2: #ecb4aa;
$c3: #a870ab;
$c4: #413e9f;
$c5: #041440;
$c6: #000000;

.dark-theme {

  .background{
    background-color: $c3 !important;
  }
  background-color: $c6;
  color: $c0;
  small {
    color: $c4;
  }
  a{
    color: $c4;
  }
  p{
    color: $c0;
  }
  .navbar-item.has-dropdown.is-active{

  }
  .button {
    background-color: $c0;
    border-color: transparent;
    color: $c6;
    &.is-static {
      background-color: $c6;
      color: $c0;
    }
    &.is-success{
      border: none;
    }
    .is-success{
      background-color: $c0;
    }
  }

  .theme-modifer{
    background-color: $c0;
  }
  .button.is-small.is-rounded{
    border: 1px $c6 solid;
  }
  .button.is-success:disabled{
    background-color: $c0;
  }
  .button:hover {
    background-color: $c3;
    color: $c6;
  }
  .title {
    color: $c0;
  }
  .navbar {
    background-color: $c6;
    a, div{
      background-color: $c6;
      color: $c1;
    }
    .navbar-dropdown{
      border-color: $c6;
    }
    .navbar-item:hover{
      background-color: $c3;
    }
    .navbar-link:hover{
      background-color: $c3;
    }
    .has-dropdown:hover{
      background-color: $c3;
    }
    a.navbar-item:hover {
      background-color: $c3;
      color: $c1;
    }
  }
  .subtitle > a:nth-child(1){
    color: $c4;
  }
  .card {
    background-color: $c0;
    p, a, .title{
      color: $c6;
    }
    .button{
      border: 1px $c6 solid;
      &.dark{
        background-color: $c6;
      }
    }
    .box {
      background-color: $c0;
      .theme-modifier{
        background-color: $c6;
        color: $c0;
      }
      .theme-modifier:hover{
        background-color: $c3;
      }
      .is-delete:hover{
        background-color: $c3;
      }
    }
  }

  .card-footer-item{

  }

  .card-footer-item:hover{
    background-color: $c3;
  }

  .modal {
    .modal-card-head {
      background-color: $c6;
      border-top: 1px $c0 solid;
      border-left: 1px $c0 solid;
      border-right: 1px $c0 solid;
    }
    .modal-card-body {
      background-color: $c0;
      p{
        color: $c6;
      }
    }
    .modal-card-foot {
      background-color: $c6;
      border-bottom: 1px $c0 solid;
      border-left: 1px $c0 solid;
      border-right: 1px $c0 solid;
    }
  }

  .tag:not(body) {
    background-color: $c1;
    text-decoration: none;
    &:after{
      color: $c6;
    }
    &:hover{
      color: $c4;
    }
  }

  .footer{
    background-color: $c6;
    p, a, strong{
      color: $c0;
    }
    a:hover{
      color: $c3;
    }
  }

}
