table.table {
  background: unset;

  td {
    border: none;
  }
}

table.transaction-table {
  width: 100%;
  table-layout: fixed;

  .col-account {
    width: 5%;
  }
  .col-date, .col-amount {
    width: 10%;
  }
  .col-category {
    width: 15%;
  }
}

.category-indicator {
  display: inline-block;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
  position: relative;
  top: .2rem;
  margin-left: 0.3rem;
}

.box.has-header {
  padding-top: .25rem;

  .box-header {
    margin: 0 -1rem 0 -.75rem;

    strong {
      filter: brightness(2.5);
    }
  }
}

.hidden {
  visibility: hidden;
}

.no-decoration{
  outline: none;
  border: none;
  box-shadow: none;
}

.validation{
  color : red;
  font-weight: 600;
  font-size: 0.875em;
}
