.input:focus, .input--select:focus{
  outline: 0;
  box-shadow: none;
}
.is-success{
  border-color: #48c78e !important;
}
.is-danger{
  border-color: #f14668 !important;
}
.input:active{
  border-color:#f14668 !important;
}
.input:focus{
  border-color:#f14668;
}
.select select:active{
  border-color:#f14668;
  outline: 0;
  box-shadow: none;
}

.select select:focus{
  border-color:#f14668;
  outline: 0;
  box-shadow: none;
}

.muted {
  opacity: .7;
  filter: blur(3px);
}
