<section class="modal" id="manual-transaction-form" #manualtransactionform>
  <div class="modal-background"></div>
  <div class="modal-card">

    <header class="modal-card-head">
      <p class="modal-card-title">New transaction on {{account?.name}}</p>
      <button class="delete" aria-label="close" (click)="hideModal()"></button>
    </header>

    <article class="modal-card-body" [formGroup]="transactionForm" #formDirective="ngForm">
      <form class="form">
        <div class="columns mb-0">
          <div class="column is-8">
            <label class="label" for="input-amount">Amount</label>
            <div class="control">
              <input class="input"
               id="input-amount"
               type="number"
               placeholder="amount"
               formControlName="amount"
               [ngClass]="{
                'is-danger': amount.invalid && (amount.dirty || amount.touched),
                'is-success': amount.valid && (amount.dirty || amount.touched)
                }"
                required>
            </div>
            <div *ngIf="(amount.invalid && amount.touched) || amount.dirty">
              <p *ngIf="amount.invalid" class="validation">Must be a number with maximum length 10 digits</p>
            </div>
          </div>
          <div class="column">
            <label class="label" for="input-date">Date</label>
            <div class="control">
              <input class="input"
              id="input-date"
              type="date"
              placeholder="date"
              formControlName="date"
              [ngClass]="{
                'is-danger': date.invalid && (date.dirty || date.touched),
                'is-success': date.valid && (date.dirty || date.touched)
                }"
                required>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label" for="input-description">Description</label>
          <div class="control">
            <input class="input"
            id="input-description"
            type="text"
            placeholder="description"
            formControlName="description"
            [ngClass]="{
              'is-danger': description.invalid && (description.dirty || description.touched),
              'is-success': description.valid && (description.dirty || description.touched)
              }"
              required>
          </div>
        </div>
        <div class="category-selects">
          <input type="hidden" id="category-name" formControlName="categoryName">
          <input type="hidden" id="category-id" formControlName="categoryId">
          <ng-container *ngFor="let categoryGroup of categoryGroups">
            <div class="box" *ngIf="categoryGroup.categories === true"
              [ngClass]="{
              'is-light': categoryGroup.color === '#EAF2E3',
              'is-blue': categoryGroup.color === '#61E8E1',
              'is-red': categoryGroup.color === '#F25757',
              'is-yellow': categoryGroup.color === '#F2E863',
              'is-orange': categoryGroup.color === '#F2CD60'}"
            >
              <p class="is-flex is-justify-content-space-between">
                <strong class="pb-3">{{categoryGroup.name}}</strong>
                <!--
                <span>
                  <a class="tag" (click)="addCategory(categoryGroup)">+</a>
                </span> -->
              </p>
              <div class="field is-grouped is-grouped-multiline">
                <ng-container *ngFor="let category of categories" >
                  <div class="control" *ngIf="category.group_id === categoryGroup.id">
                    <span class="tag selectable-tag" (click)="setCategory(category, $event)" #selectabletags>{{category.name}}</span>
                  </div>
                </ng-container>
              </div>
            </div>
          </ng-container>
        </div>
      </form>
    </article>
    <footer class="modal-card-foot is-flex is-justify-content-center">
      <button class="button is-success"
      type="button"
      (click)="submitTransactionForm($event)"
      [disabled]="transactionForm.invalid">Save</button>
      <button class="button" type="button" (click)="hideModal()">Cancel</button>
    </footer>
  </div>
</section>
