<div class="modal" id="bank-account-form">
  <div class="modal-background"></div>
  <div class="modal-card">

    <header class="modal-card-head">
      <p class="modal-card-title">{{modalTitle}}</p>
      <button class="delete" aria-label="close" (click)="hideModal()"></button>
    </header>
    
    <form class="form" [formGroup]="accountForm" #formDirective="ngForm" (ngSubmit)="submitAccountForm($event, formDirective)">
      <section class="modal-card-body">
        <!-- <input type="hidden" formControlName="id"> -->

        <div class="columns mb-0">
          <div class="column is-6">
            <label class="label">name:</label>
            <div class="control">
              <input class="input" type="text" placeholder="name" formControlName="name">
            </div>
          </div>
          <div class="column">
            <label class="label">short:</label>
            <div class="control">
              <input class="input" type="text" placeholder="short" formControlName="shortname">
            </div>
          </div>
          <div class="column">
            <label class="label">color</label>
            <div class="select">
              <select id="colorSelect" formControlName="color">
                <option *ngFor="let color of accountColors" value={{color.value}}>{{color.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label">description:</label>
          <div class="control">
            <input class="input" type="text" placeholder="description" formControlName="description">
          </div>
        </div>
        <div class="field">
          <label class="label">initial Balance:</label>
          <div class="field has-addons">
            <p class="control is-expanded">
              <input class="input" type="number" placeholder="mulah..." formControlName="initialValue">
            </p>
            <p class="control">
              <a class="button is-static is-outlined">
                Fr.
              </a>
            </p>
          </div>
        </div>
        <div class="field">
          <label class="label">csv Mask:</label>
          <div class="control">
            <!-- csv mask select -->
          </div>
        </div>
      </section>
      <footer class="modal-card-foot is-flex is-justify-content-center">
        <button class="button is-success" type="submit">save</button>
        <button class="button" type="button" (click)="hideModal()">cancel</button>
      </footer>
    </form>
  </div>
</div>
