.section{
  position: absolute;
  display: inline-block;
  min-width: 100vw;
  min-height: 100vh;
  background-image: url('../../../assets/stars_background_compressed.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
