.section{
  position: absolute;
  display: inline-block;
  min-width: 100vw;
  min-height: 100vh;
  background-image: url('../../../assets/money-ga2cf35a12_1920.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.button:focus, button:focus-visible{
  outline: none;
  border: 1px #dbdbdb solid;
  box-shadow: none;
}

.button:hover{
  background-color: rgb(144, 144, 144);
}
