<div class="modal" id="category-form">
  <div class="modal-background"></div>
  <div class="modal-card">

    <header class="modal-card-head">
    </header>

    <!-- category Group -->
    <form id="category-group-form" class="form is-hidden" [formGroup]="categoryGroupForm" #formDirective="ngForm" (ngSubmit)="submitCategoryGroupForm($event, formDirective)">
      <section class="modal-card-body">
        <div class="columns mb-0">
          <div class="column is-8">
            <label class="label">name:</label>
            <div class="control">
              <input class="input" type="text" placeholder="name" formControlName="name">
            </div>
          </div>
          <div class="column">
            <label class="label">color:</label>
            <div class="control">
              <input class="input" type="text" placeholder="color" formControlName="color">
            </div>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot is-flex is-justify-content-center">
        <button class="button is-success" type="submit">save</button>
        <button class="button" type="button" (click)="hideModal()">cancel</button>
        <button class="button is-danger" type="button" (click)="deleteCategoryGroup(categoryGroup)">delete</button>
      </footer>
    </form>

    <!-- sub-category -->
    <form id="subcategory-form" class="form is-hidden" [formGroup]="categoryForm" #formDirective="ngForm" (ngSubmit)="submitCategoryForm($event, formDirective)">
      <section class="modal-card-body">
        <div class="columns mb-0">
          <div class="column">
            <label class="label">name:</label>
            <div class="control">
              <input class="input" type="text" placeholder="name" formControlName="name">
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <p><small>in group:</small> {{categoryGroup?.name}}</p>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot is-flex is-justify-content-center">
        <button class="button is-success" type="submit">save</button>
        <button class="button" type="button" (click)="hideModal()">cancel</button>
        <button class="button is-danger" type="button" (click)="deleteCategory(category)">delete</button>
      </footer>
    </form>
  </div>
</div>
